@import "./variables.scss";
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";

.tableStyles{
    @include ag-theme-alpine-dark((
        alpine-active-color: #e93b81,
        // row-border-color: #fca311,
    ));

    .ag-root-wrapper {
        border: none;
    }

    .ag-header {
        // or write CSS selectors to make customisations beyond what the parameters support
        background-color: $dark;
        border-bottom: solid 2px grey;
        --ag-foreground-color: #0da4bc;
    }

    .ag-cell {
        color: #e4e4e4;
    }
}

/* 

@include ag-theme-alpine((
    odd-row-background-color: #f5f5f5,
    row-border-color: transparent,
    row-hover-color: null,
    checkbox-checked-color: #2661ad,
    range-selection-border-color: #ff00b1,
    range-selection-background-color: #03305633,
    header-height: 80px
  ));

  */
// .tableStyles {
//   display: table;
//   width: 100%;
//   text-align: left;
//   border-collapse: collapse;
//   border-spacing: 1px;
//   margin-bottom: 1.5rem;
  
//   thead {
//     vertical-align: middle;
//     border-bottom: 2px solid #afacac;


//     th {
//       color: $secondary;
//       border: none;
//     }
//   }
  
//   td {
//     padding: .85rem;
//     white-space: nowrap;
//     color: $text-color;
//     border: none;
//     border-bottom: 1px solid #505050;
//   }
  
//   tbody > tr {
//     display: table-row;
//     vertical-align: bottom;
//     transition: all 0.5s ease-in-out;

//     &:hover {
//       background: $warning;
//       td { color: $dark; }
//       cursor: pointer;
//     }

//     &:active {
//       background: $light;
//       td { color: $dark; }
//       cursor: pointer;
//     }
//   } 
// }