@import '../../sass/variables.scss';

.userAvatar {
  margin: 0;
  padding: 2rem;
  justify-content: center;

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: $warning;
  }

  img {
    border-radius: 50%;
    border: 2px solid $light;
    width: 100%;
  }
}
